###############
# LaTeX Build #
###############
*.bst
*.aux
*.auxlock
*.bbl
*.blg
*.log
*.gz
*.toc
*.out
*.fdb_latexmk
*.fls
*.xdv
###################
# Zed Editor TMP  #
###################
*.zedstate
